<html>
<head>
<title>{% block title %}{% endblock %} - {{ current_app.config["YAMI_SITE_NAME"] }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
{% block head %}{% endblock %}
</head>
<body>
{% block h1 %}{% endblock %}
{% block content %}{% endblock %}
<hr/>
<p class="navigation-bar">
<a href="{{ url_for('view.held_list', page=1) }}" class="navigation-link">[トップページ（開催中のオークションの一覧）]</a>
<a href="{{ url_for('view.ended_list', page=1) }}" class="navigation-link">[終了したオークションの一覧]</a>
<a href="{{ url_for('view.newform') }}" class="navigation-link">[出品する]</a>
</p>
</body>
</html>
