{% extends "base.html" %}
{% import "price_current.html" as price_current %}

{% macro type() -%}
{% if ended -%}
終了した
{%- else -%}
開催中の
{%- endif %}
{%- endmacro %}

{% macro page_url(page) -%}
{% if ended -%}
{{ url_for('view.ended_list', page=page) }}
{%- else -%}
{{ url_for('view.held_list', page=page) }}
{%- endif %}
{%- endmacro %}

{% block h1 %}
<h1>{% block title %}{{ type() }}オークションの一覧{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if auctions %}
<table border="1">
<tr>
<th>出品ID</th>
<th>品名</th>
<th>数量</th>
<th>出品者</th>
<th>出品時刻</th>
<th>終了時刻</th>
<th>現在価格</th>
<th>即決価格</th>
<th>開始価格</th>
<th>入札数</th>
</tr>
{% for auction in auctions %}
<tr>
<td>{{ auction.auction_id }}</td>
<td><a href="{{ url_for('view.info', auction_id=auction.auction_id) }}">{{ auction.itemname }}</a></td>
<td>{{ auction.quantity }}</td>
<td>{{ auction.username }}</td>
<td>{{ auction.datetime_start_local.strftime("%Y-%m-%d %H:%M:%S") }}</td>
<td>{{ auction.datetime_end_local.strftime("%Y-%m-%d %H:%M:%S") }}</td>
<td>{{ price_current.price_current(auction) }}</td>
<td>{{ "{:,d}".format(auction.price_prompt) + "円" if auction.price_prompt != None else "-" }}</td>
<td>{{ "{:,d}".format(auction.price_start) + "円" }}</td>
<td>{{ auction.num_bids }}</td>
</tr>
{% endfor %}
</table>
<hr/>
<p class="navigation-bar">
{% if page != 1 %}
<a href="{{ page_url(page=page-1) }}" class="navigation-link">&lt;&lt;前のページ</a>
{% else %}
<span class="navigation-link, disabled-navigation-link">&lt;&lt;前のページ</span>
{% endif %}
{% for p in range(1, num_pages+1) %}
{% if p != page %}
<a href="{{ page_url(page=p) }}" class="navigation-link">[{{ p }}]</a>
{% else %}
<span class="navigation-link, current-nagivation-page">[{{ p }}]</span>
{% endif %}
{% endfor %}
{% if page != num_pages %}
<a href="{{ page_url(page=page+1) }}" class="navigation-link">次のページ&gt;&gt;</a>
{% else %}
<span class="navigation-link, disabled-navigation-link">次のページ&gt;&gt;</span>
{% endif %}
</p>
{% else %}
<p>{{ type() }}オークションはありません。</p>
{% endif %}
{% endblock %}
